
@font-face {
	font-family: 'Inter'; 
	src: local('Inter'),
		url(./fonts/Inter/Inter-Black.otf); 
}
@font-face {
	font-family: 'Inter'; 
	src: local('Inter'),
		url(./fonts/Inter/Inter-Bold.otf); 
}
@font-face {
	font-family: 'Inter'; 
	src: local('Inter'),
		url(./fonts/Inter/Inter-ExtraBold.otf); 
}
@font-face {
	font-family: 'Inter'; 
	src: local('Inter'),
		url(./fonts/Inter/Inter-ExtraLight.otf); 
}
@font-face {
	font-family: 'Inter'; 
	src: local('Inter'),
		url(./fonts/Inter/Inter-Light.otf); 
}
@font-face {
	font-family: 'Inter'; 
	src: local('Inter'),
		url(./fonts/Inter/Inter-Medium.otf); 
}
@font-face {
	font-family: 'Inter'; 
	src: local('Inter'),
		url(./fonts/Inter/Inter-Regular.otf); 
}
@font-face {
	font-family: 'Inter'; 
	src: local('Inter'),
		url(./fonts/Inter/Inter-V.ttf); 
}

.page {
   width: 100%;
   display: flex;
   flex-direction: column;
   margin: auto;
   justify-content: center;
   align-items: center;
   background-color: #2A2C2F;
   font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 400;
   font-style: normal;
}

.content {
   max-width: 964px;
   margin: auto;
}

.header {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: end;
   padding: 28px 48px 56px 48px;
   box-sizing: border-box;
}

.header__logo {
   display: block;
   width: 176px;
   height: 52px;
}

.header__lang_link {
   text-decoration: none;
   font-size: 24px;
   line-height: 28px;
   color: #FFFFFF;
}

.header__lang_link:nth-of-type(2n - 1) {
   margin: 0 18px;
}

.selected {
   border-bottom: 2px solid #FFFFFF;
}

.main {
   width: 100%;
   flex: 1 0 auto;
   margin: auto;
}

.lead__title {
   width: 720px;
   font-size: 96px;
   font-weight: 900;
   line-height: 100px;
   color: #FFFFFF;
   margin: auto;
   text-align: center;
}

.lead__subtitle {
   width: 640px;
   font-size: 30px;
   font-weight: 400;
   line-height: 36px;
   color: #FFFFFF;
   margin: auto;
   text-align: center;
   padding: 32px 0 64px 0;
}

.lead__image {
   max-width: 984px;

   display: block;
   margin: auto;
   width: 100%;
}

.lead__caption {
   font-size: 10px;
   font-weight: 400;
   line-height: 14px;
   width: 984px;
   margin: 8px auto 0;
   letter-spacing: 1.5px;
   text-transform: uppercase;
   color: #FFFFFF;
}

.intro {
   width: 984px;
   padding: 92px 0;
   margin: 0 auto;
   
}

.intro__title {
   width: 690px;
   margin: 0;
   font-size: 54px;
   font-weight: 900;
   line-height: 58px;
   color: #FFFFFF;
}

.intro__text {
   width: 690px;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color: #FFFFFF;
   margin: 0;
   margin-top: 40px;
}

.intro__list {
   margin: 0;
   margin-top: 33px;
   padding: 0;
}

.intro__list_item {
   width: 690px;
   list-style: none;
   font-weight: 700;
   font-size: 12px;
   line-height: 18px;
   color: #FFFFFF;
}

.photo-grid {
   max-width: 1184px;
   width: 100%;
   margin: auto;

   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(3, 1fr);
   gap: 16px;
   justify-content: center;
   align-content: center;
}

@media screen and (max-width: 1240px) {
   .photo-grid {
      max-width: min-content;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 14px;
   }
}

.photo-grid__item {
   width: 284px;
}

@media screen and (max-width: 1240px) {
   .photo-grid__item {
      width: 300px;
   }
}

.places {
   width: calc(100% - (148px*2));
   margin: 0 auto;
   padding: 92px 0;
}

@media screen and (max-width: 1070px) {
   .places {
      width: calc(100% - (48px*2));
   }
}

.place {
   display: grid;
   grid-gap: 48px 40px;
   grid-template-columns: repeat(2, minmax(min-content, max-content));
   grid-template-rows: repeat(2, minmax(min-content, max-content));
   grid-template-areas: 
   "title website"
   "image paragraph";
   justify-content: center;
   padding-bottom: 80px;
}

@media screen and (max-width: 1070px) {
   .place {
      grid-gap: 48px 32px;
   }
}

.place:last-child {
   padding-bottom: 0;
}

.place__title {
   grid-area: title;
   width: 460px;
   margin: 0;
   font-weight: 900;
   font-size: 72px;
   line-height: 76px;
   color: #FFFFFF;
}

@media screen and (max-width: 1070px) {
   .place__title {
      width: 440px;
   }
}

.place__website {
   grid-area: website;
   align-self: end;
}

.place__paragraph {
   grid-area: paragraph;
}

.place__paragraph_item {
   width: 484px;
   margin: 0 0 26px 0;
   font-weight: 400;
   font-size: 18px;
   line-height: 163%;
   color: #FFFFFF;
}

@media screen and (max-width: 1070px) {
   .place__paragraph_item {
      width: 456px;
   }
}

.place__paragraph_item:last-child {
   margin: 0;
}

.place__image {
   grid-area: image;
   width: 460px;
}

@media screen and (max-width: 1070px) {
   .place__image {
      width: 440px;
   }
}

.place__url-heading {
   width: 456px;
   margin: 0 0 12px 0;
   font-weight: 400;
   font-size: 12px;
   line-height: 12px;
   letter-spacing: 2px;
   color: #AAAAAA;
}

.place__link {
   width: 456px;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   text-decoration-line: underline;
   color: #FFFFFF;

}
