.place__image {
   grid-area: image;
   width: 460px;
}

@media screen and (max-width: 1070px) {
   .place__image {
      width: 440px;
   }
}

@media screen and (max-width: 950px) {
   .place__image {
      width: 340px;
   }
}

@media screen and (max-width: 753px) {
   .place__image {
      width: 320px;
      height: 320px;
      margin-bottom: 32px;
   }
}