.intro__text {
   width: 690px;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color: #FFFFFF;
   margin: 0;
   margin-top: 40px;
}

@media screen and (max-width: 750px) {
   .intro__text {
      width: 288px;
      font-size: 16px;
      line-height: 26px;
   }
}