.place__link {
   display: block;
   width: max-content;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   text-decoration-line: underline;
   color: #FFFFFF;
   transition: 200ms ease;
}

.place__link:hover {
   opacity: .5;
   transition: 200ms ease;
}