.footer {
   width: calc(100vw - (48px*2));
   padding: 92px 0 24px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

@media screen and (max-width: 950px) {
   .footer {
      width: calc(100vw - (24px*2));
      padding: 88px 0 24px 0;
   }
}

@media screen and (max-width: 750px) {
   .footer {
      display: block;
      width: calc(100vw - (16px*2));
      padding: 64px 0 24px 0;
   }
}